@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    margin: 0;
    padding-left: 0px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#logo{
    height: 47px;
    padding-left: 80px;
    padding-top: 20px;
    position: absolute;
}

.nav ul{
    list-style: none;
    padding-left: 350px;
    padding-top: 29px;
}

.nav ul li{
    display: inline-block;
}

.nav ul li a{
    padding: 20px 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-left: -5px;
}

.nav ul li a:hover{
    color: blueviolet;
}

.spacebar{
    margin-left: -4px;
}

#bemvin{
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    margin-top: 90px;
    margin-left: 100px;
}

#aenc{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 5px;
}

hr{
    width: 1190px;
    margin: auto;
    margin-top: 10px;
}

#ular{
    font-family: 'PT Sans', sans-serif;
    margin-left: 100px;
    margin-top: 10px;
}

#aorg{
    font-family: 'PT Sans', sans-serif;
    margin-left: 100px;
    font-size: 30px;
    margin-top: 30px;
}

#paorg{
    font-family: 'PT Sans', sans-serif;
    margin-left: 100px;
}

#cria{
    font-family: 'PT Sans', sans-serif;
    margin-left: 100px;
    font-size: 30px;
    margin-top: 30px;
}

#pcria{
    font-family: 'PT Sans', sans-serif;
    margin-left: 100px;
}

footer{
    text-align: center;
    padding: 20px;
    padding-inline-end: 20px;
    background-color: #c2c2c2;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}