@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding-left: 0px;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 20px;
    font-weight: 500;
}

p {
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
}