@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    margin: 0;
    padding-left: 0px;
}

.article{
    margin-left: 100px;
}

#atencao {
    text-align: center;
    font-weight: bold;
}

.L {
    color: blue;
    display: inline-block;
}

.G {
    color: rgb(255, 30, 143);
    display: inline-block;
}

.b {
    color: red;
    display: inline-block;
}

.T {
    display: inline-block;
    color: yellow;
}

.lgbt {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
}

#aviso {
    text-align: center;
}

.box-news {
    width: 350px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    margin-left: 450px;
    margin-top: 40px;
}

#logo{
    height: 47px;
    padding-left: 80px;
    padding-top: 20px;
    position: absolute;
}

.nav ul{
    list-style: none;
    padding-left: 350px;
    padding-top: 29px;
}

.nav ul li{
    display: inline-block;
}

.nav ul li a{
    padding: 20px 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-left: -5px;
}

.nav ul li a:hover{
    color: blueviolet;
}

.spacebar{
    margin-left: -4px;
}

h1{
    font-family: 'Scheherazade New', serif;
    font-size: 41px;
    margin-bottom: -20px;
    margin-top: 90px;
}

hr{
    width: 900px;
}

#org{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 20px;
    font-weight: 400;
}

.vqdz{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#twitter1{
    color: #dd4b39;
    font-weight: 400;
}

#twitter2{
    color: #1a0dab;
    font-weight: 700;
}

.goog1{
    color: #1a0dab;
    font-weight: 400;
}

.sobc{
    display: inline-block;
    color: black;
    font-weight: 400;
    margin-top: 4px;
    margin-bottom: 12px;
}

#antro1{
    color: #dd4b39;
    font-weight: 400;
}

#antro2{
    color: #1a0dab;
    font-weight: 700;
    display: inline-block;
}

.cit{
    font-weight: 400;
}

#ceucraft{
    text-decoration: none;
    color: #1a0dab;
}

#ceucraft:hover{
    color: blueviolet;
}

h2{
    font-family: 'Scheherazade New', serif;
    font-size: 35px;
    margin-bottom: -12px;
}
p{
    font-family: 'Roboto', sans-serif;
    margin-top: 14px; 
    margin-bottom: 14px;
}

figcaption{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
}

#deanos{
    width: 450px;
    margin-bottom: 2px;
}

#fernerd{
    width: 450px;
}

.print{
    width: 450px;
}

.builds{
    width: 600px;
}

ul{
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
}

ul li{
    margin-top: 20px;
}

footer{
    text-align: center;
    padding: 20px;
    padding-inline-end: 20px;
    background-color: #c2c2c2;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#word{
    word-break: break-all;
}