*{
    background-color: #e9e9e9;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#logo{
    height: 47px;
    padding-left: 80px;
    padding-top: 20px;
    position: absolute;
}

.nav ul{
    list-style: none;
    padding-left: 350px;
    padding-top: 29px;
}

.nav ul li{
    display: inline-block;
}

.nav ul li a{
    padding: 20px 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-left: -5px;
}

.nav ul li a:hover{
    color: blueviolet;
}

.spacebar{
    margin-left: -4px;
}

h1{
    font-family: 'Scheherazade New', serif;
    font-size: 44px;
    margin-top: 10px;
    margin-bottom: -25px;
}

h2{
    font-family: 'Roboto', sans-serif;
    margin-bottom: -12px;
}

h3{
    font-family: 'Roboto', sans-serif;
}

h4{
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}

ol {
    font-family: 'Roboto', sans-serif;
}

.vqdz{
    font-size: 14px;
}

.skybug{
    font-weight: 400;
    color: #DD4B39;

}

.skybug2{
    font-weight: 700;
    color: #0645ad;
}

.goog1{
    font-weight: 400;
    color: #0645ad;
    margin-top: -10px;
}

.goog2{
    font-weight: 400;
    color: black;
    display: inline-block;
}

.redeskygoogle{
    font-weight: 400;
    color: #DD4B39;
}

.redeskygoogle2{
    font-weight: 700;
    color: #0645ad;
}

.goog3{
    font-weight: 400;
    color: #0645ad;
    margin-top: -10px;
}

.goog4{
    font-weight: 400;
    color: black;
    display: inline-block;
}

.nunca{
    font-weight: 400;
    margin-bottom: -12px; 
}

.dono{
    font-weight: 400;
    color: #0645ad;
    display: inline-block;
}

.dono2{
    font-weight: 400;
    display: inline-block;
}

.predi{
    font-weight: 400;
    margin-bottom: -14px;
}

.hack{
    font-weight: 400;
}

.hack1{
    font-weight: 400;
    color: #0645ad;
    display: inline-block;
}

.ant{
    width: 220px;
    margin-top: 20px;
    margin-bottom: -22px;
}

figcaption{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.print3{
    width: 500px;
    margin-top: -10px;
}

.print2{
    margin-top: 20px;
    width: 500px;
}

.vipimg{
    width: 500px;
    margin-top: -10px;
}

.vipofensa{
    margin-bottom: 20px;
}

.shield{
    width: 650px;
    margin-top: -10px;
}

.diretor{
    color: rgb(154,10,141);
    display: inline-block;
}

.minigames{
    color: rgb(1,116,223);
    display: inline-block;
}

.pvp{
    color: rgb(255,81,0);
    display: inline-block;
}
.sb{
    color: rgb(28,138,0);
    display: inline-block;
}

.bte{
    color: rgb(228,206,47);
    display: inline-block;
}

.midia{
    color: rgb(22,180,247);
    display: inline-block;
}

.outg{
    color: rgb(255,0,255);
    display: inline-block;
}
.forum{
    color: rgb(255,0,255);
    display: inline-block;
}

.sited{
    font-weight: 700;
}